@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');

*{
    font-family: 'Hind Siliguri', sans-serif;
}
body {
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(215,213,221,1) 100%);
}
