
<style>
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');
</style>


* {

  font-family: 'Bitter', serif
}

#Titulo{
  font-size: 3em;
}


body {
  background: rgb(250,250,250);
  background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(215,213,221,1) 100%);
}
